<%= form_for(@tester) do |f| %>
  <% if @tester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tester.errors.count, "error") %> prohibited this tester from being saved:</h2>

      <ul>
      <% @tester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cuisine_ids %><br />
    <%#  For Rails 4: = f.collection_check_boxes :cuisine_ids, Cuisine.order(:name), :id, :name %>
    <ul>
      <% Cuisine.order(:name).each do |cuisine| -%>
        <li>
          <%= check_box_tag "tester[cuisine_ids][]", cuisine.id, f.object.cuisine_ids.include?(cuisine.id) %>
          <%= cuisine.name %>
        </li>
      <% end -%>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
